name: ci_workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

api-tests: 
  runs-on: ubuntu-latest
  
  steps: 
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Launch application
      run: |
        docker compose up --build -d
        npx wait-port http://localhost:8080/api/health -t 30000