name: ci_workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  api-tests: 
    runs-on: ubuntu-latest
  
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Launch application
        run: |
          docker compose up --build -d
          npx wait-port http://localhost:8080/api/health -t 30000

      - name: Run API tests
        working-directory: ./tests-api
        run: |
          npm install
          npx playwright test

      - name: Shutdown application
        run: |
          docker compose down

      - name: API Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-test-results
          path: ./tests-api/test-results/
          retention-days: 7

      - name: API Test Report
        if: always()
        uses: actions/upload-artifact@v4
        with: 
          name: api-test-report
          path: ./tests-api/playwright-report/
          retention-days: 7
      
      - name: Publish API Test Results
        uses: dorny/test-reporter@v1
        if: always()
        with: 
          name: API Test Results
          path: ./tests-api/test-results/*.xml
          reporter: jest-junit
