workflow:
  name: CI Workflow
  on: 
    push: 
      branches:
        - main
    workflow_dispatch:
    jobs: 
      api-tests: 
        runs-on: ubuntu-latest
        steps: 
          - name: Checkout reepository
            runs-on: ubuntu-latest
            uses: actions/checkout@v4
          - name: Launch Application
            run: |
              docker compose up --build -d
              npx wait-port http://localhost:8080/api/health -t 30000
          - name: Execute API Tests
            working-directory: ./tests-api
            run: |
              npm install
              npx playwright test
            
